{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<title>{{ blog.title }}</title>
<link rel="stylesheet" href="/public/lib/viewer/viewer.min.css" />
{% endblock %}

<!-- Body -->
{% block body %}
<div id="js_kisBlog" class="kis__blog">
  <h2 class="kis__blog__title">{{ blog.title }}</h2>
  <p><small>{{ blog.createdAt }}&nbsp;•&nbsp;👀 {{ blog.readCount }} 人浏览</small></p>

  {% if blog.limited %}
  <div class="markdown-body">
    <div class="only-for-tian">
      <img width="200" src="/public/img/with-tian.jpeg" alt="" />
      <p>抱歉，此文章只对石头开放。</p>
    </div>
  </div>
  {% else %}
  <div class="markdown-body">{{ blog.content | safe }}</div>
  {% endif %}
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script src="/public/lib/jquery/jquery-3.5.1.min.js"></script>
<script src="/public/lib/viewer/viewer.min.js"></script>
<script>
  $(document).ready(function () {
    var gallery = new Viewer(document.getElementById("js_kisBlog"));
    $("#js_kisBlog img").on("click", function () {
      gallery.show();
    });
  });
</script>
{% if blog.limited %}
<script>
  var secret = window.prompt("抱歉，此文章只对石头开放");
  $.ajax({
    type: "POST",
    url: "/api/v1/check-tian-secret",
    data: { secret: secret },
    success: function (res) {
      if (res.success) {
        window.location.href = window.location.origin + window.location.pathname + "?secret=" + res.data;
      }
    },
  });
</script>
{% endif %} {% endblock %}
