{% extends "./base.html" %}

<!-- Body -->
{% block body %}
<aside class="kis__side">
  <a href="{{ author.github }}" target="_blank" title="{{ author.name }}">
    <img class="kis__logo" src="/public/img/avatar.jpg" alt="{{ title }}" />
  </a>
  {{ subtitle | safe }}
</aside>

<nav class="kis__nav">
  <a href="/">#全部</a>
  {% for category in categories %}
  <a href="/category/{{ category.id }}.html">#{{ category.name }}</a>
  {% endfor %}
</nav>

<div class="kis__articles">
  {% for blog in blogs %}
  <article class="kis__article">
    <h3>
      <a href="/blog/{{ blog.pathname }}.html" title="{{ blog.title }}">
        {{ "🔥" if blog.status == 'TOP' }}{{ blog.title }}
      </a>
    </h3>
    <div class="kis__desc">
      {% if blog.User %}
      <img class="avatar" src="{{ blog.User.avatar }}" alt="{{ blog.User.nickname }}" />
      <small>{{ blog.User.nickname }}&nbsp;•&nbsp;</small>
      {% endif %}
      <small>{{ blog.createdAt }}</small>
    </div>
    <p>{{ blog.summary }}</p>
  </article>
  {% endfor %}
</div>
{% endblock %}
