.kis {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.kis details {
  display: block;
}

.kis summary {
  display: list-item;
}

.kis a {
  background-color: initial;
}

.kis a:active,
.kis a:hover {
  outline-width: 0;
}

.kis strong {
  font-weight: inherit;
  font-weight: bolder;
}

.kis h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.kis img {
  border-style: none;
}

.kis code,
.kis kbd,
.kis pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.kis hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.kis input {
  font: inherit;
  margin: 0;
}

.kis input {
  overflow: visible;
}

.kis [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.kis * {
  box-sizing: border-box;
}

.kis input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.kis a {
  color: #d73a49;
  text-decoration: none;
}

.kis a:hover {
  text-decoration: underline;
}

.kis strong {
  font-weight: 600;
}

.kis hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.kis hr:after,
.kis hr:before {
  display: table;
  content: "";
}

.kis hr:after {
  clear: both;
}

.kis table {
  border-spacing: 0;
  border-collapse: collapse;
}

.kis td,
.kis th {
  padding: 0;
}

.kis details summary {
  cursor: pointer;
}

.kis kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.kis h1,
.kis h2,
.kis h3,
.kis h4,
.kis h5,
.kis h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.kis h1 {
  font-size: 32px;
}

.kis h1,
.kis h2 {
  font-weight: 600;
}

.kis h2 {
  font-size: 24px;
}

.kis h3 {
  font-size: 20px;
}

.kis h3,
.kis h4 {
  font-weight: 600;
}

.kis h4 {
  font-size: 16px;
}

.kis h5 {
  font-size: 14px;
}

.kis h5,
.kis h6 {
  font-weight: 600;
}

.kis h6 {
  font-size: 12px;
}

.kis p {
  margin-top: 0;
  margin-bottom: 10px;
}

.kis blockquote {
  margin: 0;
}

.kis ol,
.kis ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.kis ol ol,
.kis ul ol {
  list-style-type: lower-roman;
}

.kis ol ol ol,
.kis ol ul ol,
.kis ul ol ol,
.kis ul ul ol {
  list-style-type: lower-alpha;
}

.kis dd {
  margin-left: 0;
}

.kis code,
.kis pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}

.kis pre {
  margin-top: 0;
  margin-bottom: 0;
}

.kis input::-webkit-inner-spin-button,
.kis input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.kis :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.kis hr {
  border-bottom-color: #eee;
}

.kis kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.kis:after,
.kis:before {
  display: table;
  content: "";
}

.kis:after {
  clear: both;
}

.kis > :first-child {
  margin-top: 0 !important;
}

.kis > :last-child {
  margin-bottom: 0 !important;
}

.kis a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.kis blockquote,
.kis details,
.kis dl,
.kis ol,
.kis p,
.kis pre,
.kis table,
.kis ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.kis hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.kis blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.kis blockquote > :first-child {
  margin-top: 0;
}

.kis blockquote > :last-child {
  margin-bottom: 0;
}

.kis h1,
.kis h2,
.kis h3,
.kis h4,
.kis h5,
.kis h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.kis h1 {
  font-size: 2em;
}

.kis h1,
.kis h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.kis h2 {
  font-size: 1.5em;
}

.kis h3 {
  font-size: 1.25em;
}

.kis h4 {
  font-size: 1em;
}

.kis h5 {
  font-size: 0.875em;
}

.kis h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.kis ol,
.kis ul {
  padding-left: 2em;
}

.kis ol ol,
.kis ol ul,
.kis ul ol,
.kis ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.kis li {
  word-wrap: break-all;
}

.kis li > p {
  margin-top: 16px;
}

.kis li + li {
  margin-top: 0.25em;
}

.kis dl {
  padding: 0;
}

.kis dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.kis dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.kis table {
  display: block;
  width: 100%;
  overflow: auto;
}

.kis table th {
  font-weight: 600;
}

.kis table td,
.kis table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.kis table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.kis table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.kis img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.kis img[align="right"] {
  padding-left: 20px;
}

.kis img[align="left"] {
  padding-right: 20px;
}

.kis code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.kis pre {
  word-wrap: normal;
}

.kis pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.kis .highlight {
  margin-bottom: 16px;
}

.kis .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.kis .highlight pre,
.kis pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.kis pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
