.kis {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
.kis details {
  display: block;
}
.kis summary {
  display: list-item;
}
.kis a {
  background-color: initial;
}
.kis a:active,
.kis a:hover {
  outline-width: 0;
}
.kis strong {
  font-weight: inherit;
  font-weight: bolder;
}
.kis h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.kis img {
  border-style: none;
}
.kis code,
.kis kbd,
.kis pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.kis hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
.kis input {
  font: inherit;
  margin: 0;
}
.kis input {
  overflow: visible;
}
.kis [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.kis * {
  box-sizing: border-box;
}
.kis input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.kis a {
  color: #d73a49;
  text-decoration: none;
}
.kis a:hover {
  text-decoration: underline;
}
.kis strong {
  font-weight: 600;
}
.kis hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}
.kis hr:after,
.kis hr:before {
  display: table;
  content: "";
}
.kis hr:after {
  clear: both;
}
.kis table {
  border-spacing: 0;
  border-collapse: collapse;
}
.kis td,
.kis th {
  padding: 0;
}
.kis details summary {
  cursor: pointer;
}
.kis kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.kis h1,
.kis h2,
.kis h3,
.kis h4,
.kis h5,
.kis h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.kis h1 {
  font-size: 32px;
}
.kis h1,
.kis h2 {
  font-weight: 600;
}
.kis h2 {
  font-size: 24px;
}
.kis h3 {
  font-size: 20px;
}
.kis h3,
.kis h4 {
  font-weight: 600;
}
.kis h4 {
  font-size: 16px;
}
.kis h5 {
  font-size: 14px;
}
.kis h5,
.kis h6 {
  font-weight: 600;
}
.kis h6 {
  font-size: 12px;
}
.kis p {
  margin-top: 0;
  margin-bottom: 10px;
}
.kis blockquote {
  margin: 0;
}
.kis ol,
.kis ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.kis ol ol,
.kis ul ol {
  list-style-type: lower-roman;
}
.kis ol ol ol,
.kis ol ul ol,
.kis ul ol ol,
.kis ul ul ol {
  list-style-type: lower-alpha;
}
.kis dd {
  margin-left: 0;
}
.kis code,
.kis pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 12px;
}
.kis pre {
  margin-top: 0;
  margin-bottom: 0;
}
.kis input::-webkit-inner-spin-button,
.kis input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.kis :checked + .radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}
.kis hr {
  border-bottom-color: #eee;
}
.kis kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.kis:after,
.kis:before {
  display: table;
  content: "";
}
.kis:after {
  clear: both;
}
.kis > :first-child {
  margin-top: 0 !important;
}
.kis > :last-child {
  margin-bottom: 0 !important;
}
.kis a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.kis blockquote,
.kis details,
.kis dl,
.kis ol,
.kis p,
.kis pre,
.kis table,
.kis ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.kis hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.kis blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
.kis blockquote > :first-child {
  margin-top: 0;
}
.kis blockquote > :last-child {
  margin-bottom: 0;
}
.kis h1,
.kis h2,
.kis h3,
.kis h4,
.kis h5,
.kis h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}
.kis h1 {
  font-size: 2em;
}
.kis h1,
.kis h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}
.kis h2 {
  font-size: 1.5em;
}
.kis h3 {
  font-size: 1.25em;
}
.kis h4 {
  font-size: 1em;
}
.kis h5 {
  font-size: 0.875em;
}
.kis h6 {
  font-size: 0.85em;
  color: #6a737d;
}
.kis ol,
.kis ul {
  padding-left: 2em;
}
.kis ol ol,
.kis ol ul,
.kis ul ol,
.kis ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.kis li {
  word-wrap: break-all;
}
.kis li > p {
  margin-top: 16px;
}
.kis li + li {
  margin-top: 0.25em;
}
.kis dl {
  padding: 0;
}
.kis dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}
.kis dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.kis table {
  display: block;
  width: 100%;
  overflow: auto;
}
.kis table th {
  font-weight: 600;
}
.kis table td,
.kis table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.kis table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}
.kis table tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.kis img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}
.kis img[align="right"] {
  padding-left: 20px;
}
.kis img[align="left"] {
  padding-right: 20px;
}
.kis code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.kis pre {
  word-wrap: normal;
}
.kis pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.kis .highlight {
  margin-bottom: 16px;
}
.kis .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.kis .highlight pre,
.kis pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
.kis pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
/*!
 * Quill Editor v1.3.7
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
}
.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}
.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}
.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
.ql-clipboard p {
  margin: 0;
  padding: 0;
}
.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.ql-editor > * {
  cursor: text;
}
.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol,
.ql-editor ul {
  padding-left: 1.5em;
}
.ql-editor ol > li,
.ql-editor ul > li {
  list-style-type: none;
}
.ql-editor ul > li::before {
  content: '\2022';
}
.ql-editor ul[data-checked=true],
.ql-editor ul[data-checked=false] {
  pointer-events: none;
}
.ql-editor ul[data-checked=true] > li *,
.ql-editor ul[data-checked=false] > li * {
  pointer-events: all;
}
.ql-editor ul[data-checked=true] > li::before,
.ql-editor ul[data-checked=false] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
.ql-editor ul[data-checked=true] > li::before {
  content: '\2611';
}
.ql-editor ul[data-checked=false] > li::before {
  content: '\2610';
}
.ql-editor li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.ql-editor li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.ql-editor li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.ql-editor ol li.ql-direction-rtl,
.ql-editor ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.ql-editor ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.ql-editor ol li:before {
  content: counter(list-0, decimal) '. ';
}
.ql-editor ol li.ql-indent-1 {
  counter-increment: list-1;
}
.ql-editor ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-2 {
  counter-increment: list-2;
}
.ql-editor ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-3 {
  counter-increment: list-3;
}
.ql-editor ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
}
.ql-editor ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-4 {
  counter-increment: list-4;
}
.ql-editor ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-5 {
  counter-increment: list-5;
}
.ql-editor ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-6 {
  counter-increment: list-6;
}
.ql-editor ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
}
.ql-editor ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.ql-editor ol li.ql-indent-7 {
  counter-increment: list-7;
}
.ql-editor ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
}
.ql-editor ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.ql-editor ol li.ql-indent-8 {
  counter-increment: list-8;
}
.ql-editor ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
}
.ql-editor ol li.ql-indent-8 {
  counter-reset: list-9;
}
.ql-editor ol li.ql-indent-9 {
  counter-increment: list-9;
}
.ql-editor ol li.ql-indent-9:before {
  content: counter(list-9, decimal) '. ';
}
.ql-editor .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.ql-editor li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.ql-editor .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.ql-editor li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.ql-editor .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.ql-editor li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.ql-editor .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.ql-editor li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.ql-editor .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.ql-editor li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.ql-editor .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.ql-editor li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.ql-editor .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.ql-editor li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.ql-editor .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.ql-editor li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.ql-editor .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.ql-editor li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.ql-editor .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.ql-editor li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.ql-editor .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.ql-editor li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.ql-editor .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.ql-editor li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.ql-editor .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.ql-editor li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.ql-editor .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.ql-editor li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.ql-editor .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.ql-editor li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.ql-editor .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.ql-editor li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.ql-editor .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.ql-editor li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.ql-editor .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.ql-editor li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.ql-editor .ql-video {
  display: block;
  max-width: 100%;
}
.ql-editor .ql-video.ql-align-center {
  margin: 0 auto;
}
.ql-editor .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.ql-editor .ql-bg-black {
  background-color: #000;
}
.ql-editor .ql-bg-red {
  background-color: #e60000;
}
.ql-editor .ql-bg-orange {
  background-color: #f90;
}
.ql-editor .ql-bg-yellow {
  background-color: #ff0;
}
.ql-editor .ql-bg-green {
  background-color: #008a00;
}
.ql-editor .ql-bg-blue {
  background-color: #06c;
}
.ql-editor .ql-bg-purple {
  background-color: #93f;
}
.ql-editor .ql-color-white {
  color: #fff;
}
.ql-editor .ql-color-red {
  color: #e60000;
}
.ql-editor .ql-color-orange {
  color: #f90;
}
.ql-editor .ql-color-yellow {
  color: #ff0;
}
.ql-editor .ql-color-green {
  color: #008a00;
}
.ql-editor .ql-color-blue {
  color: #06c;
}
.ql-editor .ql-color-purple {
  color: #93f;
}
.ql-editor .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}
.ql-editor .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}
.ql-editor .ql-size-small {
  font-size: 0.75em;
}
.ql-editor .ql-size-large {
  font-size: 1.5em;
}
.ql-editor .ql-size-huge {
  font-size: 2.5em;
}
.ql-editor .ql-direction-rtl {
  direction: rtl;
  text-align: inherit;
}
.ql-editor .ql-align-center {
  text-align: center;
}
.ql-editor .ql-align-justify {
  text-align: justify;
}
.ql-editor .ql-align-right {
  text-align: right;
}
.ql-editor.ql-blank::before {
  color: rgba(0, 0, 0, 0.6);
  content: attr(data-placeholder);
  font-style: italic;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  word-wrap: break-word;
  letter-spacing: 0.8px;
  background: #ededed url("/public/img/light-bg.png");
}
.kis {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 15px;
}
.kis__hd {
  margin-bottom: 30px;
}
.kis__hd h1 {
  border: none;
  margin: 0;
  font-weight: 400;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}
.kis__hd h1 a {
  text-decoration: none !important;
}
.kis__hd .heart {
  display: inline-block;
  animation: beatForPoppy 1.2s infinite;
}
.kis__logo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.kis__side {
  position: relative;
  margin-bottom: 30px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.kis__side p {
  margin: 0;
  line-height: 1.8;
}
.kis__side .kis__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.kis__nav a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-transform: capitalize;
}
.kis__bd {
  margin-bottom: 50px;
}
.kis__ft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kis__article {
  margin-bottom: 2em;
}
.kis__article h3 {
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.kis__article .avatar {
  display: inline-block;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.kis__desc {
  display: flex;
  align-items: center;
}
.kis__desc .cupid {
  width: 30px;
  background: transparent;
  margin-right: 5px;
}
.kis__divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
}
.kis__blog__title {
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.kis__blog img {
  display: block;
  margin: 16px auto;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid transparent;
}
.kis__blog__like a {
  text-decoration: none;
  color: inherit;
}
@keyframes beatForPoppy {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
