.markdown-body .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}
.markdown-body .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}
.markdown-body .anchor:focus {
  outline: none;
}
.markdown-body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.markdown-body details {
  display: block;
}
.markdown-body summary {
  display: list-item;
}
.markdown-body a {
  background-color: initial;
}
.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}
.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
}
.markdown-body h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.markdown-body img {
  border-style: none;
}
.markdown-body code,
.markdown-body kbd,
.markdown-body pre {
  font-family: monospace, monospace;
}
.markdown-body hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}
.markdown-body input {
  font: inherit;
  margin: 0;
}
.markdown-body input {
  overflow: visible;
}
.markdown-body [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
.markdown-body * {
  box-sizing: border-box;
}
.markdown-body input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.markdown-body a {
  text-decoration: none;
}
.markdown-body a:hover {
  text-decoration: underline;
}
.markdown-body strong {
  font-weight: 400;
}
.markdown-body hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
}
.markdown-body hr:after,
.markdown-body hr:before {
  display: table;
  content: "";
}
.markdown-body hr:after {
  clear: both;
}
.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}
.markdown-body td,
.markdown-body th {
  padding: 0;
}
.markdown-body details summary {
  cursor: pointer;
}
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  vertical-align: middle;
  border-radius: 3px;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body h1 {
  font-size: 32px;
}
.markdown-body h1,
.markdown-body h2 {
  font-weight: 400;
}
.markdown-body h2 {
  font-size: 24px;
}
.markdown-body h3 {
  font-size: 20px;
}
.markdown-body h3,
.markdown-body h4 {
  font-weight: 400;
}
.markdown-body h4 {
  font-size: 16px;
}
.markdown-body h5 {
  font-size: 14px;
}
.markdown-body h5,
.markdown-body h6 {
  font-weight: 400;
}
.markdown-body h6 {
  font-size: 12px;
}
.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}
.markdown-body blockquote {
  margin: 0;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}
.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}
.markdown-body dd {
  margin-left: 0;
}
.markdown-body code,
.markdown-body pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body input::-webkit-inner-spin-button,
.markdown-body input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.markdown-body:after,
.markdown-body:before {
  display: table;
  content: "";
}
.markdown-body:after {
  clear: both;
}
.markdown-body > :first-child {
  margin-top: 0 !important;
}
.markdown-body > :last-child {
  margin-bottom: 0 !important;
}
.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}
.markdown-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
.markdown-body blockquote {
  padding: 0 1em;
}
.markdown-body blockquote > :first-child {
  margin-top: 0;
}
.markdown-body blockquote > :last-child {
  margin-bottom: 0;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.25;
}
.markdown-body h1 {
  font-size: 2em;
}
.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
}
.markdown-body h2 {
  font-size: 1.5em;
}
.markdown-body h3 {
  font-size: 1.25em;
}
.markdown-body h4 {
  font-size: 1em;
}
.markdown-body h5 {
  font-size: 0.875em;
}
.markdown-body h6 {
  font-size: 0.85em;
}
.markdown-body ol,
.markdown-body ul {
  padding-left: 2em;
}
.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
.markdown-body li {
  word-wrap: break-all;
}
.markdown-body li > p {
  margin-top: 16px;
}
.markdown-body li + li {
  margin-top: 0.25em;
}
.markdown-body dl {
  padding: 0;
}
.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}
.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}
.markdown-body table th {
  font-weight: 400;
}
.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
}
.markdown-body img {
  max-width: 100%;
  box-sizing: initial;
}
.markdown-body img[align="right"] {
  padding-left: 20px;
}
.markdown-body img[align="left"] {
  padding-right: 20px;
}
.markdown-body code {
  padding: 0.2em 0.6em;
  margin: 0;
  border-radius: 3px;
}
.markdown-body pre {
  word-wrap: normal;
}
.markdown-body pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}
.markdown-body .highlight {
  margin-bottom: 16px;
}
.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  line-height: 1.45;
  border-radius: 3px;
}
.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 16px;
  word-wrap: break-word;
  letter-spacing: 0.8px;
}
small {
  font-size: 13px;
}
p,
li {
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
}
h2 {
  margin-bottom: 40px;
  padding: 5px;
}
h3 {
  margin-top: 40px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  transition: all 0.2s;
}
a:hover {
  text-decoration: underline;
}
.only-for-tian {
  padding: 50px 0;
  text-align: center;
}
.only-for-tian img {
  border-radius: 5px;
}
code {
  padding: 2px 8px;
  border-radius: 2px;
}
@media (prefers-color-scheme: light) {
  body {
    background: #f0f0f0 url("/public/img/light-bg.png");
    color: #292525;
  }
  a {
    color: #d73a49;
  }
  table td,
  table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
  }
  table tr {
    border-top: 1px solid #dfe2e5;
  }
  table tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  blockquote {
    border-left: 0.25em solid #dfe2e5;
  }
  h1,
  h2,
  hr {
    border-bottom: 1px solid #dfe2e5;
  }
  kbd,
  pre,
  code {
    border: 1px solid #dfe2e5;
  }
  code {
    color: #d73a49;
  }
  pre,
  code,
  kbd {
    background-color: rgba(255, 255, 255, 0.55);
  }
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: #242424 url("/public/img/dark-bg.png");
  }
  a {
    color: #e6be6a;
  }
  table td,
  table th {
    padding: 6px 13px;
    border: 1px solid #202124;
  }
  table tr {
    border-top: 1px solid #202124;
  }
  table tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
  }
  blockquote {
    border-left: 0.25em solid #202124;
  }
  h1,
  h2,
  hr {
    border-bottom: 1px solid #202124;
  }
  kbd,
  pre,
  code {
    border: 1px solid #202124;
    font-size: 13px;
  }
  code {
    color: #cb7832;
  }
  pre,
  code,
  kbd {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.kis {
  max-width: 677px;
  margin: 0 auto;
  padding: 30px 15px;
}
.kis__hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.kis__hd h1 {
  border: none;
}
.kis__hd a {
  text-decoration: none;
}
.kis__hd .heart {
  display: inline-block;
  animation: beatForPoppy 1.2s infinite;
}
.kis__logo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.kis__side {
  position: relative;
  margin-bottom: 30px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.kis__side p {
  margin: 0;
  line-height: 1.8;
}
.kis__side .kis__logo {
  position: absolute;
  top: 0;
  left: 0;
}
.kis__bd {
  margin-bottom: 50px;
}
.kis__ft {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.kis__article {
  margin-bottom: 2em;
}
.kis__article h3 {
  line-height: 1.3;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.kis__article .avatar {
  display: inline-block;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.kis__desc {
  display: flex;
  align-items: center;
}
.kis__divider {
  width: 100%;
  height: 1px;
  margin: 40px 0;
}
.kis__blog__title {
  padding-bottom: 8px;
  margin-bottom: 20px;
}
.kis__blog img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}
.kis__blog__like a {
  text-decoration: none;
  color: inherit;
}
@keyframes beatForPoppy {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
