@import "_markdown";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.47059;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Palatino, Helvetica, serif;
}

a {
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    text-decoration: underline;
  }
}

.only-for-tian {
  padding: 50px 0;
  text-align: center;

  img {
    border-radius: 5px;
  }
}

code {
  font-size: 0.9em;
  padding: 2px 5px;
  border-radius: 2px;
}

@media (prefers-color-scheme: light) {
  body {
    background: #f0f0f0 url("/public/front/img/light-bg.png");
    color: #292525;
  }

  a {
    color: #d71a1b;
  }

  blockquote {
    padding: 1px 15px;
    border-left: 3px solid #9e9e9e;
    background: rgba(158, 158, 158, 0.1) !important;
  }

  hr {
    border-top-color: #d71a1b;
  }

  pre,
  code,
  kbd,
  samp {
    color: #d71a1b;
    background: #f8f8f8;
  }

  .kis__divider {
    background: #998;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #bebebe;
    background: #242424 url("/public/front/img/dark-bg.png");
  }

  a {
    color: #e6be6a;
  }

  blockquote {
    padding: 1px 15px;
    border-left: 3px solid #9e9e9e;
    background: rgba(133, 133, 133, 0.1) !important;
  }

  hr {
    border-top-color: #7f7f7f;
  }

  pre,
  code,
  kbd,
  samp {
    color: #e6be6a;
    background: #2b2b2b;
  }

  .kis__divider {
    background: #7f7f7f;
  }
}

.kis {
  max-width: 677px;
  margin: 0 auto;
  padding: 40px 15px;

  &__hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    a {
      text-decoration: none;
    }

    .heart {
      display: inline-block;
      animation: beatForPoppy 1.2s infinite;
    }
  }

  &__logo {
    width: 85px;
    height: 85px;
    border-radius: 50%;
  }

  &__side {
    position: relative;
    margin-bottom: 60px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 0;
      line-height: 1.8;
    }

    .kis__logo {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__bd {
    margin-bottom: 50px;
  }

  &__ft {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__article {
    margin-bottom: 30px;

    h3 {
      line-height: 1.3;
      font-size: 1.8em;
    }

    .avatar {
      display: inline-block;
      width: 30px;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 40px 0;
  }

  &__blog {
    img {
      display: block;
      margin: 0 auto;
      border-radius: 4px;
      cursor: pointer;
    }

    &__like {
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@keyframes beatForPoppy {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
