<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author.name }}<{{ author.email }}>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta property="og:title" content="{{ rmlzy }} 💖 {{ poppy }}" />
    <meta property="og:type" content="{{ description }}" />
    <meta property="og:url" content="http://poppython.com" />
    <meta property="og:image" content="/public/img/logo.png?v={{ version }}" />
    <link rel="apple-touch-icon" href="/public/img/logo.png?v={{ version }}" />
    <link rel="shortcut icon" href="/public/img/favicon.ico?v={{ version }}" />
    <link rel="stylesheet" href="/public/lib/highlight/styles/github.css" />
    <link rel="stylesheet" href="/public/css/kis.css?v={{ version }}" />
    {% block head %}{% endblock %}
  </head>

  <body class="kis">
    <header class="kis__hd">
      <h1>
        <a href="/" title="我们已经相爱{{fallInLove}}天">
          <span>{{ rmlzy }}</span>
          <span class="heart">💖</span>
          <span>{{ poppy }}</span>
        </a>
      </h1>
    </header>

    <main class="kis__bd">
      {% block body %}{% endblock %}
    </main>

    <footer class="kis__ft">
      {{ copyright }}
    </footer>

    <script src="/public/lib/highlight/highlight.pack.js"></script>
    <script src="/public/js/main.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5a0bf59b1677eeb569701d469caac324";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    {% block foot %}{% endblock %}
  </body>
</html>
