{% extends "./base.html" %}

<!-- Body -->
{% block body %}
<aside class="kis__side">
  <a href="{{ author.github }}" target="_blank" title="{{ author.name }}">
    <img class="kis__logo" src="/public/front/img/avatar.jpeg" alt="{{ title }}" />
  </a>
  {{ subtitle | safe }}
</aside>

<div class="kis__articles">
  {% for blog in blogs %}
  <article class="kis__article">
    <h2>
      <a href="/blog/{{ blog.pathname }}.html" title="{{ blog.title }}">
        {{ "🔥" if blog.status == 'TOP' }}{{ blog.title }}
      </a>
    </h2>
    <p>
      <span>{{ blog.createdAt }}&nbsp;•&nbsp;</span>
      <span>{{ blog.readTime }}</span>
    </p>
    <p>{{ blog.summary }}</p>
  </article>
  {% endfor %}
</div>
{% endblock %}
