<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }} - Dashboard</title>
    <meta name="description" content="{{ description }}" />
    <meta name="author" content="{{ author.name }}<{{ author.email }}>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/public/front/img/favicon.png" />
    <link rel="stylesheet" href="/public/admin/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/admin/lib/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/public/admin/css/kis-admin.css?v={{ version }}" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <header class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="collapsed navbar-toggle" data-target="#kis-navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/admin/dashboard.html" class="navbar-brand">KIS {{ __('Dashboard') }}</a>
        </div>
        <nav class="collapse navbar-collapse" id="kis-navbar">
          <ul class="nav navbar-nav">
            <li class="{{ 'active' if currentNav == 'blog' }}">
              <a href="/admin/blogs.html">{{ __('Blogs') }}</a>
            </li>
            <li class="{{ 'active' if currentNav == 'tag' }}">
              <a href="/admin/tags.html">{{ __('Tags') }}</a>
            </li>
            <li class="{{ 'active' if currentNav == 'category' }}">
              <a href="/admin/categories.html">{{ __('Categories') }}</a>
            </li>
            <li class="{{ 'active' if currentNav == 'user' }}">
              <a href="/admin/users.html">{{ __('Users') }}</a>
            </li>
            <li class="{{ 'active' if currentNav == 'visitor' }}">
              <a href="/admin/visitors.html">{{ __('Visitors') }}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/admin/write.html">{{ __('Write') }}</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div>
      {% block body %}{% endblock %}
    </div>

    <div class="kis__footer">
      <div class="container">
        {{ __('Copyright') }}
      </div>
    </div>

    <script src="/public/admin/lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="/public/admin/lib/jquery/jquery.serializejson.min.js"></script>
    <script src="/public/admin/lib/layer/layer.js"></script>
    <script src="/public/admin/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/admin/lib/lodash/lodash.min.js"></script>
    {% block foot %}{% endblock %}
  </body>
</html>
