{% extends "./base.html" %}

<!-- Head -->
{% block head %}
<script>
  window.i18n_DeleteConfirmMsg = "{{ __('DeleteConfirmMsg') }}";
  window.i18n_Confirm = "{{ __('Confirm') }}";
  window.i18n_Cancel = "{{ __('Cancel') }}";
</script>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{{ __('Id') }}</th>
        <th>{{ __('Title') }}</th>
        <th>{{ __('Author') }}</th>
        <th>{{ __('ReadCount') }}</th>
        <th>{{ __('Category') }}</th>
        <th>{{ __('Tags') }}</th>
        <th>{{ __('Status') }}</th>
        <th>{{ __('CreatedAt') }}</th>
        <th>{{ __('Action') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in blogs %}
      <tr>
        <td scope="row">{{ blog.id }}</td>
        <td>
          <a href="/blog/{{ blog.pathname }}.html">{{ blog.title }}</a>
        </td>
        <td>{{ blog.User.nickname }}</td>
        <td>{{ blog.readCount }}</td>
        <td>{{ blog.Category.name }}</td>
        <td>
          {% for tag in blog.Tags%}
          <span class="label label-primary">{{ tag.name }}</span>
          {% endfor %}
        </td>
        <td>
          {% if blog.status === 'TOP' %}
          <span class="label label-danger">置顶</span>
          {% endif %}
          <!-- -->
          {% if blog.status === 'PUBLISHED' %}
          <span class="label label-success">已发布</span>
          {% endif %}
          <!-- -->
          {% if blog.status === 'DRAFT' %}
          <span class="label label-default">草稿</span>
          {% endif %}
          <!-- -->
          {% if blog.status === 'HIDE' %}
          <span class="label label-warning">隐藏</span>
          {% endif %}
        </td>
        <td>{{ blog.createdAt }}</td>
        <td>
          <a href="/admin/write.html?id={{ blog.id }}">{{ __('Edit') }}</a>
          &nbsp;|&nbsp;
          <a data-id="{{ blog.id }}" href="javascript:;" class="js_deleteBtn text-danger">{{ __('Delete') }}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script>
  $(document).ready(function () {
    $(".js_deleteBtn").on("click", function () {
      var id = $(this).data("id");
      if (!id) {
        return;
      }
      layer.confirm(
        i18n_DeleteConfirmMsg,
        {
          btn: [i18n_Confirm, i18n_Cancel],
        },
        function () {
          layer.load();
          $.ajax({
            type: "DELETE",
            url: "/api/v1/blog/" + id,
            success: function (res) {
              layer.closeAll("loading");
              if (res.success) {
                window.location.reload();
              } else {
                layer.msg(res.message, { icon: 5 });
              }
            },
          });
        },
        function () {}
      );
    });
  });
</script>
{% endblock %}
