{% extends "./base.html" %}

<!-- Body -->
{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>
      This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
      information.
    </p>
  </div>

  {% if blog %}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">博文分析</div>
        <div class="panel-body">
          <p><b>总字数</b>：{{ blog.totalWordCount }}</p>
          <p><b>文章数</b>：{{ blog.count }}</p>
          <p><b>阅读数</b>：{{ blog.totalRead }}</p>
          <p><b>点赞数</b>：{{ blog.totalLike }}</p>
          <div><b>讨厌数</b>：{{ blog.totalDislike }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">历史上的今天</div>
        <div class="panel-body">
          {% for item in toh %}
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">{{ loop.index }}.&nbsp;{{ item.title }}</h4>
              <p class="text-success">
                <span>{{ item.year }}年{{ item.month }}月{{ item.day }}日</span>
                <span>&nbsp;•&nbsp;</span>
                <span>{{ item.lunar }}</span>
              </p>
              <p>{{ item.des }}</p>
            </div>
            {% if item.pic %}
            <div class="media-left"><img class="media-object" src="{{ item.pic }}" style="height: 64px;" /></div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
