{% extends "./blank.html" %}

<!-- Body -->
{% block body %}
<div id="js_loginPage" class="login-page">
  <form id="js_loginForm" class="login__form" action="#">
    <h2 class="login__form__title">{{ __('Login') }}</h2>
    <p class="login__form__desc">{{ __('Slogan') }}</p>
    <input type="hidden" name="code" value="{{ code }}" />

    <div class="form-group">
      <label class="control-label">{{ __('Email') }}</label>
      <div class="form-control-static">
        <input class="form-control" name="email" type="email" placeholder="{{ __('Email') }}" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">{{ __('Password') }}</label>
      <div class="form-control-static">
        <input class="form-control" name="password" type="password" placeholder="{{ __('Password') }}" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label">{{ __('Captcha') }}</label>
      <div class="form-control-static">
        <div class="row">
          <div class="col-xs-8">
            <input class="form-control" name="captcha" type="text" placeholder="{{ __('Captcha') }}" />
          </div>
          <div class="col-xs-4">
            <div id="js_captcha" class="login__form__captcha"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="form-control-static">
        <button type="submit" class="btn btn-primary btn-block">{{ __('Submit') }}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

<!-- Foot -->
{% block foot %}
<script>
  $(document).ready(function () {
    setRandomBg();
    setCaptcha();

    $("#js_captcha").on("click", function () {
      setCaptcha();
    });

    function setRandomBg() {
      var bgs = [
        "/public/admin/img/login-bg-1.jpg",
        "/public/admin/img/login-bg-2.jpg",
        "/public/admin/img/login-bg-3.jpg",
        "/public/admin/img/login-bg-4.jpg",
      ];
      var randomIndex = _.random(0, bgs.length - 1, false);
      $("#js_loginPage").css("background-image", "url(" + bgs[randomIndex] + ")");
    }

    function setCaptcha() {
      $.ajax({
        type: "GET",
        url: "/api/v1/captcha",
        dataType: "json",
        success: function (res) {
          if (res.success) {
            $("#js_captcha").html(res.data);
          } else {
            layer.msg(res.message, { icon: 5 });
          }
        },
      });
    }

    $("#js_loginForm").on("submit", function (evt) {
      evt.preventDefault();
      var formData = $(this).serializeJSON();
      layer.load();
      $.ajax({
        type: "POST",
        url: "/api/v1/login",
        data: formData,
        success: function (res) {
          layer.closeAll("loading");
          if (res.success) {
            window.location.href = "/admin/dashboard.html";
          } else {
            setCaptcha();
            layer.msg(res.message, { icon: 5 });
          }
        },
      });
    });
  });
</script>
{% endblock %}
